PythonQt/__pycache__
PythonQt/images/
PythonQt/config.txt
PythonQt/logs/full_pass.log
PythonQt/logs/pass_metrics.log
PythonQt/logs/*
PythonQt/scheduledPasses.txt
PythonQt/deployment/
PythonQt/pysidedeploy.spec